
header {
    background-color: #e19bb0;
    
}

main {
    background-color: #ffffff;
}

.navbar {
    background-color: #ed2560;
    height: 65px;
}


footer {
    background-color: #ed2560;
    height: 160px;
}